In [12]:
def fullname(first_name, last_name):
    return first_name + " " + last_name

first_name = "Akhila"
last_name = "Reddy"

print("Full Name:", fullname(first_name, last_name))

Full Name: Akhila Reddy

In [ ]:
def str_alternative(Str):
    return Str[::2]

print(str_alternative("Good evening"))

Go vnn

In [44]:
text = open("input.txt", "r")
d = dict()
for line in text:
  line = line.strip()
  line = line.lower()
  words = line.split(" ")
  for word in words:
    if word in d:
      d[word] = d[word] + 1
    else:
      d[word] = 1
file1 = open('output.txt', 'w')
s=""
for key in list(d.keys()):
     s += key+ ":" + str(d[key])+ "\n"
file1.write(s)
file1.close()

In [20]:
heights = [150, 155, 145, 148]
centimeters = []

for height in heights:
    cm = height * 2.54
    centimeters.append(cm)

print("Heights in inches:", heights)
print("Heights in centimeters:", centimeters)

Heights in inches: [150, 155, 145, 148]
Heights in centimeters: [381.0, 393.7, 368.3, 375.92]

In [21]:
heights = [150,155, 145, 148] # sample list of heights in inches
centimeters = [round(height * 2.54, 2) for height in heights] # convert each height in inches to centimeters and store it in a new list using list comprehension

print("Heights in inches:", heights)
print("Heights in centimeters:", centimeters)

Heights in inches: [150, 155, 145, 148]
Heights in centimeters: [381.0, 393.7, 368.3, 375.92]